.pagecontainer{
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.pagecontainer h1{
  max-width: 30rem;
}

.image_container{
  min-width: 8rem;
  min-height: 8rem;
  position: relative;
}

.dev_img{
    border-radius: 50%;
}
